* {
    transition: all 1s ease;
}

.container {
    padding: 40px;
    background: linear-gradient(white, rgb(0, 255, 255, 0));
}

p {
    font-size: 20px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}
