* {
    box-sizing: border-box;
}

.super-main-container {
    background: linear-gradient(45deg, #ff3b3f, #e60073);
    margin: 0;
    padding: 0;
    width: 100%;
    padding-bottom: 1em;

    /* border: 1px solid black; */
}

.main-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(45deg, #ff3b3f, #e60073);
}

.text {
    position: relative;
    width: 50%;
    padding: 30px;
    text-align: center;
    padding-bottom: 20px;
    /* border: 1px solid black; */
}

.text h3 {
    font-size: 35px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.text__main-text {
    text-align: start;
    color: #ffffff;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
}

.text__item {
    color: rgb(255, 255, 255);
    font-family: "Times New Roman", Times, serif;
    text-align: left;
    font-size: 20px;
    text-shadow: 0 0 55px rgba(0, 0, 0, 0.5);
}

.text span {
    color: rgb(255, 255, 255);
    text-decoration: underline;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
}

.contact-form {
    margin: 30px 0;
    max-width: 400px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 0 15px rgb(255, 255, 255, 0.3);
}

.contact-form label {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.contact-form textarea {
    height: 120px;
}

.contact-form button {
    background: linear-gradient(45deg, #ff3b3f, #e60073);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.contact-form button:hover {
    box-shadow: 0 0 0px red;
}

.contact-form input:required:invalid,
.contact-form textarea:required:invalid {
    /* border: 1px solid red; */
}

.contact-form input:required:valid,
.contact-form textarea:required:valid {
    /* border: 1px solid #00ff22; */
}

.closing-text {
    margin-top: 30px;
    margin-bottom: 60px;
    position: relative;
    display: flex column nowrap;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
    height: 10em;
    padding: 2em;
    border-radius: 20px;
    box-shadow: 0 0 5px white;
    /* background-color: white; */
}

.closing-text__p {
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-family: "MoonDance-Regular", sans-serif;
    text-align: center;
    /* width: 70%; */
}

@font-face {
    font-family: "MoonDance-Regular";
    src: url("../../public/fonts/MoonDance-Regular.ttf") format("truetype");
}
