.Footer {
    background-color: #e4e4e4;
    padding: 1em 10em;
    text-align: center;
    color: #000000;
    font-size: 16px;
  }
  
  
  .Footer__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .Footer__section {
    flex: 1;
    margin-right: 40px;
  }
  
  .Footer__section__tittle {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
  }

  .Footer__section__text {
    font-size: 1.5em;
  }
  
  .Footer__section__text p {
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
    font-size: .8em;

  }
  
  .Footer__bottom {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .Footer__bottom__text {
    margin-bottom: 5px;
    font-size: 1.6em;
  }
  